# Generic ignores
*.log
*.db
*.db-shm
*.db-wal
*.pyc
._*
__pycache__

deps
.storage
.cloud
.ios.conf

.uuid
*.xml
*.conf
*.sqlite
ip_bans.yaml
known_devices.yaml
secrets.yaml
tts

.vscode

!.gitkeep
custom_components/hacs
custom_components/samsungtv_tizen
