deps
.uuid
*.xml
home-assistant.db
home-assistant_v2.db
home-assistant.log
OZW_Log.txt
*.conf
*.sqlite
mysensors2.json
secrets.yaml
.HA_VERSION
known_devices.yaml
.cloud
entity_registry.yaml
.storage
tts
.vscode
